<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <div class="container">
      <h1>Restaurants</h1>
      <% for (restaurant in data) { %>
        <a href="restaurants/<%= data[restaurant].id %>/menu">
        <%= data[restaurant].id %>
        <%= data[restaurant].name %>
        <%= data[restaurant].address %>
        <%= data[restaurant].phone_numb %>
        </a>
      <% } %>
    </div>
    <% include partials/_footer %>
  </body>
</html>
